* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-width: 1440px;
}

.yellow-background {
  height: 100vh;
  width: 100vw;
  /* margin: 50px 50px; */
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
}



.card {
    border: 1px solid black;
  background-color: hsl(0, 0%, 100%);
  border-radius: 17px;
  width: 375px;
  box-shadow: 10px 10px hsl(0, 0%, 7%);
 
  
}

.image {
  padding: 17px 20px;
}
.image img {
  border-radius: 15px;
}

.btn {
  margin-left: 20px;
  line-height: 2rem;
  font-family: sans-serif;
}

.btn button {
  background-color: hsl(47, 88%, 63%);
  padding: 4px 8px;
  font-weight: bolder;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.heading {
  margin-left: 20px;
  font-weight: bolder;
  padding: 7px 0px 10px 0px;
  cursor: pointer;
}

.heading:hover{
    color: hsl(47, 100%, 61%);
}

.content {
  margin-left: 20px;
  padding: 5px 0px 25px 0px;
  font-size: 16px;
}

.avtar {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-bottom: 23px;
}

.avtar img {
  height: 40px;
  width: 40px;
}

.avtar p {
  margin-left: 20px;
 font-weight: bolder;
}
